/*Color de botones*/

.btn-danger {
    background-color: #90091d !important;
    border-color: #90091d !important;
}

.button__last {
    background-color: white !important;
    color: #90091d;
}

.button__last a {
    color: #90091d;
}

.button__last a:hover {
    color: #90091d;
}


/*Color del texto automatico*/

.texto-automatico {
    color: #90091d;
}


/*Imagen corporativa*/

.section1__imageCorpo {
    box-shadow: 0px 4px 8px grey;
}

@media(max-width:768px) {
    .title-section1 {
        font-size: 38px !important;
    }
}


/*Card con informacion*/

.cards__info {
    margin-left: 5px !important;
}