.header {
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 5px 10px 5px rgb(0 0 0 / 10%);
    padding: 0px 15px;
    background-color: #291C0B;
    color: white;
}

.header__logo {
    width: 100px;
    height: 100px;
}

.header__menu {
    position: absolute;
    top: 0;
    left: -4000px;
    width: 59%;
    height: 100%;
    background-color: black;
    transition: all 200ms linear;
}

.header__menuOn {
    left: 0;
}

.header__menu_color {
    position: absolute;
    top: 0;
    right: 0;
    width: 41%;
    height: 100%;
    background-color: #D85844;
    opacity: 0.7;
}

.header__menu_category {
    color: white;
}

.header__imageCorpo {
    border-radius: 50%;
    box-shadow: 0px 4px 8px grey;
}